version: '3.7'

services:
  db:
    volumes:
      - data:/data
    environment:
      NEO4J_AUTH_FILE: /run/secrets/neo4j_auth
      NEO4J_dbms_connector_http_listen__address: 0.0.0.0:7475
      NEO4J_dbms_connector_bolt_listen__address: 0.0.0.0:7688
      NEO4J_dbms_connector_http_advertised__address: neo4j.test.idai.world:80
      NEO4J_dbms_connector_bolt_advertised__address: bolt.test.idai.world:80
#      NEO4J_dbms_connector_http_advertised__address: neo4j.test.idai.local:80
#      NEO4J_dbms_connector_bolt_advertised__address: bolt.test.idai.local:80
    secrets:
      - neo4j_auth
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.httpConnector.port=7475"
        - "traefik.boltConnector.port=7688"
        - "traefik.httpConnector.frontend.rule=Host:neo4j.test.idai.world"
        - "traefik.boltConnector.frontend.rule=Host:bolt.test.idai.world"
#        - "traefik.httpConnector.frontend.rule=Host:neo4j.test.idai.local"
#        - "traefik.boltConnector.frontend.rule=Host:bolt.test.idai.local"
        - "traefik.passHostHeader=true"
      restart_policy:
        condition: any
        delay: 0s
    networks:
      - backend
      - frontend

secrets:
  neo4j_auth:
    file: ./secrets/neo4j_auth.txt

volumes:
  data:

networks:
  backend:
    name: backend
    external: true
  frontend:
    name: frontend
    external: true
